<h1>Log in</h1>

<%=  form_with url:"/login", method: :post do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>
<br>
<%= f.label :password %>
<%= f.password_field :password %>
<br>
<%= f.submit "Log In" %>
<% end %>

<h3>Or <%= link_to "log in with Github", '/auth/github' %> </h3>