<h1><%= @recipe.name %></h1>

<h3>Description:</h3>
<p><%= @recipe.description %></p>

<h3>Ingredients:</h3>
<ul>
<% no_blank_ingredients(@recipe).each do |ing| %>
    <li>
        <%= ing.magnitude %> <%= ing.unit %> <%= ing.ingredient.name %>
    </li>
<% end %>
</ul>

<h3>Instructions:</h3>
<p> <%= @recipe.instructions %> </p>

<h3>Tags:</h3>
<ul>
<% @recipe.tags.each do |tag| %>
    <li>
        <%= tag.name %>
    </li>
<% end %>
</ul>

<%= link_to "Add a tag!", new_user_recipe_recipe_tag_path(@user, @recipe) %>
<br>

<%= link_to "Edit this recipe", edit_user_recipe_path(@user, @recipe) %>