<%= @user.name %> 

<div>
    <h3>Filter By Category:</h3>
    <%= form_tag(browse_by_ingredient_path(@user), method: "get") do %>
        <%= select_tag "category", options_for_select(Ingredient::CATEGORIES) %>
        <%= submit_tag "Filter" %>
    <% end %>

</div>

<h3>Your ingredients:</h3>

<ul>
    <% @ingredients.each do |ingredient| %>
    <%# I have absolutely no idea why, but adding uniq to user_ingredients makes the links appear. Since I wanted to add it anyway, it's no problem, but it is really weird. %>
    <%# The method user.ingredients returns the ingredient from each recipe_ingredient, so there are duplicates. That's why I was going to use uniq anyway. Still very odd %>
    <%# Also, this page and the browse_by_tag page are very similar and could probably be abstracted %>
        <li>
            <%= link_to "#{ingredient.name}", user_ingredient_path(@user, ingredient) %>
        </li>
    <% end %>
</ul>